<meta charset="UTF-8">
<title>KPOP Idol Chemistry</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="KPOP 아이돌 이름 생성기 - BTS, BLACKPINK, NewJeans, IVE, SEVENTEEN 등 전 세계 인기 아이돌과 케미 이름을 만들어 보세요.">
<meta name="keywords" content="KPOP, 아이돌, 이름 생성기, BTS, BLACKPINK, NewJeans, IVE, SEVENTEEN, Name Generator, Idol Chemistry">

<meta name="google-adsense-account" content="ca-pub-9514930752765161">

<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9514930752765161"
     crossorigin="anonymous"></script>